.header {
    width: 100%;
    height: 15vh;
    background-color: #843b62;
    display: flex;
    justify-content: center;
}

.header-container {
    max-width: 1400px;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__logo {
        width: 10vh;
        height: 10vh;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo-img {
        width: 10vh;
        height: 10vh;
    }

    &__text {
        height: 5vh;
        padding: 1rem;
        color: #ffb997;
        font-weight: 700;
        font-size: 3rem;
    }
}