.main {
    width: 100%;
    height: 90vh;
    background-color: $base-color;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1400px;
    height: 85vh;
    margin-top: 4rem; 
    display: flex;
    flex-direction: column;
    align-items: center;

    &__current-budget--date {
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }

    &__current-budget--budget {
        font-weight: 700;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    &__current-budget--text {
        font-weight: 500;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__income {
        width: 70rem;
        height: 5rem;
    }

    &__income-form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__expense {
        width: 70rem;
        height: 5rem;
    }

    &__expense-form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__budget-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem; 
        width: 50rem;
        height: 50vh;
        overflow: auto;
    }
}